#alert {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    width: fit-content;
    background-color: #212121;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

/* Not centered on mobile ? */
#game {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #d3d6da;
    /* height: 60px; */
    padding: 0 5px;
}

#title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    /* text-align: center; 
    position: absolute;
    left: 0;
    right: 0; */
    pointer-events: none;
}
