#alert {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    width: fit-content;
    background-color: #212121;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#alert_2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  /* pointer-events: none; */
  width: fit-content;
  background-color: #212121;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

#game {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #d3d6da;
    height: 50px;
    padding: 0 5px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

#title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    /* text-align: center; 
    position: absolute;
    left: 0;
    right: 0; */
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    user-select: none;
}

#play {
    margin: 0 auto;
    padding: 0 20px;
}

.overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    background-color: white;
    z-index: 2000;
    padding: 5px 10px;
}

#how-to-play #header {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

#header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#close {
    position: absolute;
    right: 0;
    user-select: none;
    cursor: pointer;
    color: #929292;
    font-weight: 600;
}

#open {
    color: #929292;
    cursor: pointer;
}