#keyboard {
  margin: 0 8px;
  user-select: none;
}

.row {
  display: flex;
  width: 100%;
  margin: 0 auto 5px;
  touch-action: manipulation;
}

button {
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 5px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #e0e0e0; /* Need to make dynamic */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

button:hover {
  background-color: #cecece; /* Need to make dynamic */
}

button:active {
  background-color: #929292; /* Need to make dynamic */
}

button:focus {
    outline: none;
}

/* add fade animation for button ? */

button:last-of-type {
    margin: 0;
}

.half {
    flex: .5;
}

.one {
    flex: 1;
}

.one_grey {
  flex: 1;
  background-color: #929292;
}

.one_yellow {
  flex: 1;
  background-color: orange;
}

.one_green {
  flex: 1;
  background-color: rgb(55, 189, 82);

}

.one-and-a-half {
    flex: 1.5;
    font-size: 12px;
}

/* .two {
    flex: 2;
} */

.present {
  background-color: #c9b458;
}

.correct {
  background-color: #6aaa64;
}

.absent {
  background-color: #787c7e;
}